* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.2rem;
  text-align: center;
}

.navHeader {
  display: flex;
  align-items: center;

}

.NexusLogo {
  width: 3rem;
  margin: 12px;  
}

.NexusHeading {
  font-size: 1.8rem;
 background: linear-gradient(to right, #A89FFF, #7EE8F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

nav .navList {
  display: flex;
  gap: 1.6rem;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
}

.meetContainer {
    display: flex;
    padding-inline: 20px;
    height: 80vh;
    gap: 10vw;
    justify-content: center;
}

.subTitle {
    margin-bottom: 10px;
}

.leftPanel {
    height: 100%;
    display: flex;
    align-items: center;
}

.rightPanel {
    display: flex;
    align-items: center;
}
.rightPanel > img {
    width: 30vw;
    height: auto;
    border-radius: 20px;
}